deeplabcut==3.0.0rc9
h5py==3.14.0
matplotlib==3.8.4
moviepy==1.0.3
numpy==1.26.4
opencv-python-headless>=4.8
pandas==2.3.1
pillow==11.3.0
pydantic==1.10.22
pydantic-compat==0.1.2
python-dotenv==1.1.1
requests-oauthlib==2.0.0
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
shapely==2.1.1
streamlit==1.47.0
tables==3.8.0
types-python-dateutil==2.9.0.20250708
ffmpeg-python>=0.2.0
imageio>=2.31
imageio-ffmpeg>=0.4.9
openai